
.navigation {
    border-bottom: 1px solid lightskyblue;
}

.navigation__unorderedlist {
    list-style: none;
    padding-left: 0px;
    line-height: 30px;
}
.navigation__orderedlist {
    padding-bottom: 10px;
    padding-left: 20px;
    line-height: 30px;
}

.navigation__Link {
    color: darkcyan;
    text-decoration: none;
}

.navigation__Link:hover {
    color: red
}

.navigation__Link:active {
    color: hsl(0, 60%, 50%)
}